body {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;

  background-color: #ffffff;

  margin: 0;
  padding: 0;
}

html {
box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit;
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
  background-color: #eeeeee;
}

a {
  text-decoration: none;
  color: #000000;
}

.page-logo:hover,
.page-logo:focus {
  opacity: 0.8;
}

.page-logo:active {
  opacity: 0.3;
}

.site-navigation {
  list-style: none;
  color: #000000;
}

.site-navigation a:hover:not(.site-nav-current),
.site-navigation a:focus:not(.site-nav-current) {
  color: #fb565a;
}

.site-navigation a:active:not(.site-nav-current) {
  color: rgba(0, 0, 0, 0.3)
}

.site-nav-current {
  border-bottom: 2px solid #fb565a;
  cursor: default;
}

.slider {
  background-color: #eeeeee;
  height: 433px;
  margin-bottom: 80px;
}

.slider-b {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500;
}

.slider-controls {
  list-style: none;
}

 .button {
   font-family: "Roboto", "Arial", sans-serif; /* Задал шрифт, т.к. кнопка отправки в форме обратной связи не пожелала унаследовать его из body */
   font-size: 16px;
   line-height: 18px;
   color: #ffffff;
   font-weight: 500;
   text-transform: uppercase;

   background-color: #fb565a;
   border: none;
 }

 .button:hover,
 .button:focus {
   background-color: #e74246;
 }

 .button:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3)
 }

 .green-button {
   background-color: #00ca74;
 }

 .yellow-button {
   background-color: #efc84a;
 }

 .green-button:hover,
 .green-button:focus {
   background-color: #00bc6c;
 }

 .green-button:active {
   background-color: #00aa62;
 }

 .yellow-button:hover,
 .yellow-button:focus {
   background-color: #eab534;
 }

 .yellow-button:active {
   background-color: #e5a722;
 }

 .gray-button {
   background-color: #eee;
   color: #000;
 }

 .gray-button:hover,
 .gray-button:focus {
   background-color: #dfdfdf;
   cursor: pointer;
 }

 .gray-button:active {
   background-color: #d5d5d5;
   color: rgba(0, 0, 0, 0.3);
 }

.main-services-list {
  list-style: none;
}

.service-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-b-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.advantages-list {
  list-style: none;
}

.advantages-percent-list {
  list-style: none;
}

.advantages-list-b {
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.advantages-percent-list b {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
  color: #000;
}

.advantages-percent-list span {
  vertical-align: 14px;
  font-size: 27px;
}

.advantages-percent-list p {
  line-height: 18px;
}

.partners-list {
  list-style: none;
}

.partners-list a {
  opacity: 0.2;
}

.partners-list a:hover,
.partners-list a:focus {
  opacity: 1;
}

.partners-list a:active {
  opacity: 0.1;
}

.contacts-text b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.contacts-text p {
  line-height: 18px;
  color: #666;
}

.social ul {
  list-style: none;
}

.discount b {
  font-size: 36px;
  line-height: 36px;
  color: #000;
  font-weight: 700;
}

.discount p {
  line-height: 22px;
  color: #444;
}

.catalog-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000;
}

.background-title {
  background-color: #eee;
}

.choise-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
}

.filter-cost {
  line-height: 22px;
  text-transform: uppercase;
}

.filter-input {
  line-height: 20px;
}

.filter-option:hover,
.filter-option:focus{
  color: #000;
}

.sorting ul {
  list-style: none;
}

.sorting-option {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sorting-option:hover,
.sorting-option:focus {
  color: rgba(0, 0, 0, 0.6)
}

.sorting-option:active {
  color: #000;
}

.sorting-down::before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border: 10px solid #ededed;
  border-right-width: 5.5px;
  border-left-width: 5.5px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom: 0;
  vertical-align: middle;
}

.sorting-up::before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border: 10px solid #ededed;
  border-right-width: 5.5px;
  border-left-width: 5.5px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top: 0;
  vertical-align: middle;
}

.sorting-down:hover::before,
.sorting-down:focus::before {
  border-top-color: #a6a6a6;
}

.sorting-down:active::before {
  border-top-color: #231f20;
}
.sorting-up:hover::before,
.sorting-up:focus::before {
  border-bottom-color: #a6a6a6;
}

.sorting-up:active::before {
  border-bottom-color: #231f20;
}

.product-cards-list {
  list-style: none;
}

.product-cards-hover {
  background-color: #eee;
  display: inline-block;
  text-align: center;
}

.product-cards-hover-title {
  font-size: 18px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
}

.product-cards-hover-text {
  line-height: 18px;
  color: #666;
}

.page-buttons {
  list-style: none;
}

.page-buttons-previous {
  display: none;
}

.page-buttons-number-current,
.page-buttons-number-current:hover,
.page-buttons-number-current:focus,
.page-buttons-number-current:active {
  background-color: #fff;
  border: 3px solid #dbdbdb;
  box-shadow: none;
  color: #000;
  cursor: default;
}

.modal-feedback b {
  font-size: 45px;
  line-height: 45px;
  color: #000;
  font-weight: 500;
}

.modal-feedback-form {
  line-height: 18px;
  font-weight: 700;
  color: #000;
}

.modal-feedback-input {
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  width: 360px;
  border: 2px solid #d7dcde;
  border-radius: 4px;
  padding: 16px 0 16px 14px;
  box-sizing: border-box;
  outline: 0;
}

.modal-feedback-text {
  overflow: auto;
  resize: none;
  width: 760px;
  height: 118px;
}

.modal-feedback-input:hover {
  border-color: #b4b9bb;
}

.modal-feedback-input:focus {
  border-color: #000;
}

.feedback-input-not-valid {
  border-color: #e74246;
  color: #e74246;
}

/*СЛАЙДЕРСТВО
.
.
.
.
*/
.slider-inner {
  outline: 2px solid red;

  display: inline-block;
  width: 1200px;
  padding: 0px;
  margin: 0px;
}

.slider-picture {
  float: right;
}

.slider-inner:first-of-type .slider-picture {
  margin-right: 65px;
}

.slider-container {
  width: 3608px;
  padding: 0;

}

.slider-current {
  outline: 2px solid green;
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px 0 0 20px;
  }

.slider input[type="radio"] {
  display: none;
}

.slider-controls label {
  display: inline-block;
  margin-left: 17px;
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  box-shadow:
    0 0 0 5px #fff,
    0 0 0 2px #fff inset ;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:first-of-type {
  margin-left: 0;
}

.slider-controls {
  position: absolute;
  outline: 2px solid green;
  left: 600px;
  top: 440px;
}

/* СЕТКОВСТВО
.
.
.
.
.
 */

.page-header {
  width: 100%;
}

.page-navigation {
  display: flex;
  outline: 2px solid red;
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.page-logo-main, .site-navigation {
  outline: 2px solid green;
}

.page-logo-main, .catalog-logo {
  margin-top: 49px;
}

.site-navigation:last-of-type {
  padding: 0;
  margin-left: auto;
}

.site-navigation:first-of-type {
  display: flex;
  padding: 0;
  margin-left: 200px;
  width: 440px;
  justify-content: space-between;
}

.site-navigation {
  margin-top: 78px;
}

.main-services-list {
  outline: 2px solid blue;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  margin-bottom: 40px
}

.main-services-list li {
  margin-right: 100px;
}

.advantages-container {
  outline: 2px solid red;
  display: flex;
  width: 1200px;
  height: 486px;
  margin: 0 auto;
  padding: 0 20px;

}

.advantages-about-us {
  width: 660px;
}

.advantages-percent {
  outline: 2px solid blue;

  margin-left: auto;
}

.advantages-percent-list {
  outline: 2px solid green;
  display: flex;
  width: 350px;
  padding: 0;
}

.advantages-percent-list li {
  margin-right: 25px;
}

.partners-list {
  outline: 2px solid red;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 45px 20px 45px 20px;
  justify-content: space-around;
}

.contacts-container {
  outline: 2px solid red;
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
}

.contacts-text {
  outline: 2px solid green;
  position: absolute;
  width: 319px;
  height: 308px;
  padding: 52px 0 0 50px;
  top: 54px;

  background-color: #fff;
}

.contacts-text-container {
  outline: 2px solid blue;
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
}

.social {
  outline: 2px solid red;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.social ul {
  outline: 2px solid green;
  display: flex;
  width: 260px;
  justify-content: space-around;
}

.social-button {
  border: 4px solid black;
}

.discount {
  outline: 2px solid blue;

  margin-left: 140px;
}

.modal-feedback {
  outline: 2px solid red;
  width: 960px;
  height: 590px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  padding-top: 70px;
  padding-left: 100px;
}

.modal-feedback-form div {
  display: inline-block;
  margin-right: 40px;
}
